<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OTV - ARPS</title>
        <link rel="stylesheet" href="/static/control.css" />
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    </head>
    <body>
        <div id="layout" class="content pure-g">
            <div id="nav" class="pure-u">
                <div class="nav-inner">
                    <img src="/static/OTV.png" width="60px"/>

                    <div class="pure-menu">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item"><b>A</b>utomated</li>
                            <li class="pure-menu-item"><b>R</b>ecord</li>
                            <li class="pure-menu-item"><b>P</b>layback</li>
                            <li class="pure-menu-item"><b>S</b>ystem</li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="pure-u">
                <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        Test Pattern
                        <button class="pure-button" hx-get="/control/test-pattern?state=on" hx-target="#test_reply">On</button>
                        <button class="pure-button" hx-get="/control/test-pattern?state=off" hx-target="#test_reply">Off</button>
                        <div id="test_reply"></div>
                    </li>
                    <li class="pure-menu-item"></li>
                        Message: 
                        <textarea name="message" type="text"></textarea>

                        <button class="pure-button" hx-post="/control/message" hx-target="#message_reply" hx-include="[name='message']">
                            Send Message
                        </button>
                        <div id="message_reply"></div>                    
                    </li> 
                </ul>
                </div>
            </div>
        </div>
    </body>
</html>
