<div class="schedule-talks">
    <div class="schedule">
        <div class="session-box-mini"><b>NOW</b></div>
        <div class="session-box" >
            <div class="title" style="display:{{ schedule["Track 1"]["NOW"]["Display"]}}">{{ schedule["Track 1"]["NOW"]["Title"]}} - {{ schedule["Track 1"]["NOW"]["Speaker"]}}</div>
            <div class="time" style="display:{{ schedule["Track 1"]["NOW"]["Display"]}}">{{ schedule["Track 1"]["NOW"]["StartTime"]}} - {{ schedule["Track 1"]["NOW"]["Duration"]}}min - <b>Track 1</b></div>
        </div>
        <div class="session-box" >
            <div class="title" style="display:{{ schedule["Track 2"]["NOW"]["Display"]}}">{{ schedule["Track 2"]["NOW"]["Title"]}} - {{ schedule["Track 2"]["NOW"]["Speaker"]}}</div>
            <div class="time" style="display:{{ schedule["Track 2"]["NOW"]["Display"]}}">{{ schedule["Track 2"]["NOW"]["StartTime"]}} - {{ schedule["Track 2"]["NOW"]["Duration"]}}min - <b>Track 2</b></div>
        </div>
        <div class="session-box">
            <div class="title" style="display:{{ schedule["Track 3"]["NOW"]["Display"]}}">{{ schedule["Track 3"]["NOW"]["Title"]}} - {{ schedule["Track 3"]["NOW"]["Speaker"]}}</div>
            <div class="time" style="display:{{ schedule["Track 3"]["NOW"]["Display"]}}">{{ schedule["Track 3"]["NOW"]["StartTime"]}} - {{ schedule["Track 3"]["NOW"]["Duration"]}}min - <b>Track 3</b></div>
        </div>
        <div class="session-box">
            <div class="title" style="display:{{ schedule["Workshop 1"]["NOW"]["Display"]}}">{{ schedule["Workshop 1"]["NOW"]["Title"]}} - {{ schedule["Workshop 1"]["NOW"]["Speaker"]}}</div>
            <div class="time" style="display:{{ schedule["Workshop 1"]["NOW"]["Display"]}}">{{ schedule["Workshop 1"]["NOW"]["StartTime"]}} - {{ schedule["Workshop 1"]["NOW"]["Duration"]}}min - <b>Workshop 1</b></div>
        </div>
        </div>
    <div class="schedule">
    <div class="session-box-mini"><b>NEXT</b></div>
    <div class="session-box">
        <div class="title" style="display:{{ schedule["Track 1"]["NEXT"]["Display"]}}">{{ schedule["Track 1"]["NEXT"]["Title"]}} - {{ schedule["Track 1"]["NEXT"]["Speaker"]}}</div>
        <div class="time" style="display:{{ schedule["Track 1"]["NEXT"]["Display"]}}">{{ schedule["Track 1"]["NEXT"]["StartTime"]}} - {{ schedule["Track 1"]["NEXT"]["Duration"]}}min - <b>Track 1</b></div>
    </div>
    <div class="session-box">
        <div class="title" style="display:{{ schedule["Track 2"]["NEXT"]["Display"]}}">{{ schedule["Track 2"]["NEXT"]["Title"]}} - {{ schedule["Track 2"]["NEXT"]["Speaker"]}}</div>
        <div class="time" style="display:{{ schedule["Track 2"]["NEXT"]["Display"]}}">{{ schedule["Track 2"]["NEXT"]["StartTime"]}} - {{ schedule["Track 2"]["NEXT"]["Duration"]}}min - <b>Track 2</b></div>
    </div>
    <div class="session-box">
        <div class="title" style="display:{{ schedule["Track 3"]["NEXT"]["Display"]}}">{{ schedule["Track 3"]["NEXT"]["Title"]}} - {{ schedule["Track 3"]["NEXT"]["Speaker"]}}</div>
        <div class="time" style="display:{{ schedule["Track 3"]["NEXT"]["Display"]}}">{{ schedule["Track 3"]["NEXT"]["StartTime"]}} - {{ schedule["Track 3"]["NEXT"]["Duration"]}}min - <b>Track 3</b></div>
    </div>
    <div class="session-box">
        <div class="title" style="display:{{ schedule["Workshop 1"]["NEXT"]["Display"]}}">{{ schedule["Workshop 1"]["NEXT"]["Title"]}} - {{ schedule["Workshop 1"]["NEXT"]["Speaker"]}}</div>
        <div class="time" style="display:{{ schedule["Workshop 1"]["NEXT"]["Display"]}}">{{ schedule["Workshop 1"]["NEXT"]["StartTime"]}} - {{ schedule["Workshop 1"]["NEXT"]["Duration"]}}min - <b>Workshop 1</b></div>
    </div>
</div>